.gb-header {
  padding: 10px;
  font-family: 'Quicksand', sans-serif;

  /*box-shadow: 0px 2px 7px #333;*/
  /*background: #1d273c;*/


  /*background: #1d273c;*/
  /*box-shadow: 0px 1px 15px #131313;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
.gb-brand, .gb-brand:visited {
  margin: 20px;
  color: white !important;
  letter-spacing: 3px;
  font-size: 20pt;
  transition: 0.3s;
}
.gb-brand:hover, .gb-brand:active {
  text-decoration: none;
  color: #e4e4e4 !important;
}
.gb-brand > i, .gb-brand:visited > i {
  font-size: 28pt;
  transition: 0.3s;
  color: #5755d9;
}

.gb-brand:hover > i, .gb-brand:active > i {
  color: #4240d4;
}
