.gb-root {
  margin: 0;
  background-color: #151b29;
}
.main-container {
  /*transition: 0.3s;*/
}
.blur-bg {
  /*transition: filter 1s ease-in;*/
  filter: blur(5px);
}
.content {
  /*margin: 20px;*/
  margin-top: 102px;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Nanum Gothic', sans-serif;*/

  /*font-family: 'Open Sans', sans-serif;*/

  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Encode Sans Condensed', sans-serif;*/


  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Fira Sans', sans-serif;*/
  /*font-family: 'PT Sans', sans-serif;*/
  /*font-family: 'Titillium Web', sans-serif;*/
}
.fixed-toolbar-padding {
  height: 96px;
}
.content > div {
  /*margin: 10px;*/
}
.title {
  font-size: 24pt;
  margin: 30px 50px;
}
.paragraph {
  line-height: 1.75;
  margin: 30px 50px;
}
.extra {

}
.gb-gamegrid {
  margin: 50px 70px !important;
}
.footer {
  padding: 20px;
  margin: 50px 20px 30px 20px;
  color: #aaa;
  font-size: 11pt;
}
.footer .footer-item {
  padding: 10px;
}
.footer .footer-item span {
  margin-right: 8px;
}
.footer .footer-item.float-right {
  text-align: right;
}
.footer .footer-item .footer-item-s {
  font-size: 10pt;
}
.footer .footer-item .footer-item-xs {
  font-size: 9pt;
}
